@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Greska.</h1>
<h2 class="text-danger">Javila se greska prilikom vase akcije.</h2>
@*<p> <li>@Html.ActionLink("Nazad na start", "Index", "Home")</li></p>*@

