@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Zakljucano</h1>
    <h2 class="text-danger">Ovaj nalog je zakljucan,molimo vas pokusajte kasnije</h2>
   @* <p> <li>@Html.ActionLink("Nazad na start", "Index", "Home")</li></p>*@
</hgroup>
