
@{
    ViewBag.Title = "DropdownDiscUce";
}

<h2>DropdownDiscUce</h2>


@model IEnumerable<MacevalackaAplikacija.Models.DisciplinaBO>









<div class="row">

    <div class="col-md-3" id="discipline">
        <label class="control-label">Odaberite disciplinu za prikaz ucesnika</label>
        <div>
           @* @Html.DropDownList(
                "Discipline",
                new SelectList(@ViewBag.Discipline, "DiscID", "DiscNaziv"),
                "Selektuj disciplinu",
                new
                     {
                         @class = "form-control",
                    @onchange = "OnSelectedDisciplina(this.value)"
                     })*@
        </div>
    </div>
</div>

<div id="Discipline">

    @{Html.RenderAction("DajUcesnikePoDisciplini", "Disciplina", new { id = 0 });}

</div>



<script>
    


    function OnSelectedDisciplina(disciplina) {

        var idDiscipline = disciplina;
        if (idDiscipline === "")
        {
            idDiscipline = 0;
        }
        $.ajax({
            url: '@Url.Action("DajUcesnikePoDisciplini", "Disciplina")',
            data: { id: idDiscipline },
            success:   function(result) {
                $('#Discipline').html(result);
            }
        });
    }
</script>