@model IEnumerable<MacevalackaAplikacija.Models.UcesnickiNalogBO>

<table class="table">
    <tr>
        <th>
            UcesnikID
        </th>
        <th>
            Ime i prezime
        </th>
        <th>
            Uloga

            
        </th>
        <th>
            Ime kluba
           
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ucesnikID)
            </td>
            <td>
                @Html.DisplayFor(model => item.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uloga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klub)
            </td>
        </tr>
    }

</table>

