@{
    ViewBag.Title = "Usputno";
}
<h2>Macevalacka aplikacija</h2>




<div>
    <br />
    <p>
        Macevalacka aplikacija nadovezana je na koncept macevalckih turnira.Pod macevalackim turnirom cilja se na takmicenja u macevanju sa vise razlicitih disciplina, sa vise razlicitih faza.
        Macevalacka aplikacija pruza mogucnost listanja svih ucesnika,organizatora,disciplina i faza.
    </p>
    <br />
    <p>  A organizatorskim nalozima omogucava i unos novih ucesnika,disciplina i faza,a a sa druge strane i izmenu ili brisanje vec postojecih.</p>

    <br />
    <p>
        Sam turnir podrazumeva tri glavne discipline-dugi mac,rapir i jednorucni mac,ucesnik/ca moze izabrati jednu ili vise disciplina, ali mora biti makar u jednoj ili sudija ili borac/kinja.Takodje moguce je dodavanje jos disciplina u sam sistem.
        Grupna faza sluzi za odredjivanje ko ce biti plasiran u mec za prvo odnosno trece mesto. Finalna faza se sastoji od meceva za prvo i trece mesto.
        Ako ima dosta ljudi u samom turniru neophodna je i jos jedna eliminaciona faza izmedju gde prolaze samo najbolji iz grupne faze i onda opet iz nje u finalnu fazu prelaze samo najbolji/e iz meceva date faze. Ali po potrebi se moze dodavati jos faza po zelji.
    </p>
    <br />
    <p>Korisnici su s jedne strane ucesnici takmicenja,a sa druge organizatori turnira.</p>

    <p>Sprovedeno koriscenjem ASP.NET MVC alata po entity-framework relationship principima ucenim unutar predmeta PPP</p>
</div>

<p> @Html.ActionLink("Nazad na start", "Index", "Home")</p>



<p>Nadam se da ste zadovoljni ovim projektom</p>
