@{
    ViewBag.Title = "Usputno";
}
<h2>Mačevalačka aplikacija</h2>




<div>
    <br />
    <p>
        Mačevalačka aplikacija nadovezana je na koncept mačevalačkih turnira. Pod mačevalačkim turnirom cilja se na takmičenja u mačevanju sa više različitih disciplina, sa više različitih faza.
        Mačevalačka aplikacija pruža mogućnost listanja svih učesnika, disciplina i faza.
    </p>
    <br />
    <p>  A organizatorskim nalozima omogućava i unos novih učesnika,disciplina i faza,a a sa druge strane i izmenu ili brisanje vec postojećih.</p>

    <br />
    <p>
        Navedena je potreba da učesnici mogu pregledati sve informacije ali ne i menjati ih. Sa druge strane traženo
        je da organizatori mogu činiti sve to.
        Uz to traženo je da se mogu izlistati učesnici discipline. Kao i da se sa stranice za discipline može
        otići direktno na stranicu za faze, učesnike i obratno.
    </p>
    <br />
    <p>Korisnici su s jedne strane učesnici takmičenja,a sa druge organizatori turnira.</p>

    <p>Sprovedeno korišćenjem ASP.NET MVC alata po entity-framework relationship principima učenim unutar predmeta PPP</p>
</div>

<p> @Html.ActionLink("Nazad na start", "Index", "Home")</p>



<p>Nadam se da ste zadovoljni ovim projektom</p>
