@{
    ViewBag.Title = "Contact";
}


<br />
<br />

<address>
    Савски насип 7, Београд 11000<br />
    <abbr title="Telefon"</abbr>
    011 4011216
</address>

<h2> Kontakt mejl</h2>
<p> aleksandar55619@its.edu.rs</p>


<p> <li>@Html.ActionLink("Nazad na start", "Index", "Home")</li></p>